.blog {
    padding-top: 2.5em;
    background-color:#b0e0d8;
    align-items: center;
    section {
        display: flex;
        flex-direction: row;
        .card {
            background-color:#c9c29e;
        }
        .card .card-body {
            font-size: 1vw;
            a {
                font-size: 2vw;
            }
        }
    }
}
@media  (max-width: 1200px) {
    .blog section {
            flex-direction: column;
        }
}
@media  (max-width: 800px) {
    .blog section {
            flex-direction: column;
            .card .card-body {
                font-size: 3vw;
                a {
                    font-size: 4vw;
                }
            }
        }
}