.home {
    background-color: #e0d8b0;
    .row-1 {
      margin-top: 0.5rem;
      .site-description {
        font-size: 3vw;
      }
    }
    .row-1 img{
      width: 40%;
    }
    section {
      display: flex;
      margin-bottom: 0.5rem;
      padding-bottom: 2rem;
      @media (max-width: 1200px) {
        flex-direction: column;
        .card {
          font-size: 2vw;
        h2 {
          font-size: 4vw;
        }
        }
        }
      @media (max-width: 800px){
        .card {
          h2 {
            font-size: 5vw;
          }
          h3 {
            font-size: 4vw;
          }
          p, ul {
            font-size: 3vw;
          }
        }
      }
      .row-2 {
        flex: 1;
        margin: 0rem 0.5rem;
        ul {
          display: inline-block;
        }
      }
    }
    section:first-child{
      padding-bottom: 5rem;
    }
    section:last-child{
      margin-bottom: 0rem;
      display: flex;
      flex-direction: column;
    }
    #stackCarousel {
      margin: 0 30%;
      display: flex;
      flex-direction: column;
    }
  .collapse-area {
    .btn {
      width: 100%;
    }
    &:first-child{
    margin-bottom: 2rem;
    }
  }
}
@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInOut {
  animation: fadeInOutAnimation 0.5s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}